export OS_USERNAME={{ generic_user01 }}
export OS_PASSWORD={{ generic_password01 }}
export OS_TENANT_NAME={{ generic_tenant01 }}
export OS_AUTH_URL=http://{{ controller_int_ip }}:35357/v2.0/
export OS_REGION_NAME=RegionOne
export PS1='\u@\h \W(keystone)\$ '

