[DEFAULT]
debug = {{ log_debug }}
log_verbose = {{ log_verbose }}
interface_driver = neutron.agent.linux.interface.OVSInterfaceDriver
dhcp_driver = neutron.agent.linux.dhcp.Dnsmasq
use_namespaces = True
enable_isolated_metadata = True

