export OS_PROJECT_DOMAIN_ID=default
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME={{ generic_project01 }}
export OS_TENANT_NAME={{ generic_project01 }}
export OS_USERNAME={{ generic_user01 }}
export OS_PASSWORD={{ generic_password01 }}
export OS_AUTH_URL=http://{{ controller_int_ip }}:35357/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
export PS1='\u@\h \W(keystone)\$ '
