[DEFAULT]
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
#iscsi_helper = tgtadm
volume_name_template = volume-%s
#volume_group = {{ cinder_vg_name }}
verbose = {{ log_verbose }}
auth_strategy = keystone
state_path = /var/lib/cinder
lock_path = /var/lock/cinder
volumes_dir = /var/lib/cinder/volumes
my_ip = {{ ansible_ssh_host }}
enabled_backends = lvm

# API
enable_v1_api = false
enable_v2_api = true

# GLANCE
glance_host={{ controller_int_ip }}
#glance_port=9292

# RABBITMQ
rpc_backend = rabbit
[oslo_messaging_rabbit]
rabbit_host={{ controller_int_ip }}
rabbit_port = 5672
rabbit_userid={{ cinder_mq_user }}
rabbit_password={{ cinder_mq_password }}
rabbit_virtual_host=/cinder

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

# DATABASE
[database]
connection=mysql+pymysql://cinder:{{ mariadb_cinder_password }}@{{ controller_int_ip }}/cinder

# AUTHENTICATION
[keystone_authtoken]
auth_uri = http://{{ controller_int_ip }}:5000
auth_url = http://{{ controller_int_ip }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{ cinder_keystone_password }}

# ISCSI
[lvm]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = {{ cinder_vg_name }}
iscsi_protocol = iscsi
iscsi_helper = tgtadm

