[DEFAULT]
verbose = {{ log_verbose }}
my_ip = {{ ansible_ssh_host }}
state_path = /var/lib/cinder
api_paste_confg = api-paste.ini
enable_v1_api = True
enable_v2_api = True
osapi_volume_listen = 0.0.0.0
osapi_volume_listen_port = 8776
auth_strategy = keystone
rpc_backend = rabbit
notification_driver = cinder.openstack.common.notifier.rpc_notifier
scheduler_driver = cinder.scheduler.filter_scheduler.FilterScheduler
enabled_backends = lvm

#rootwrap_config = rootwrap.conf
#volume_name_template = volume-%s
#volumes_dir = /var/lib/cinder/volumes

# GLANCE
glance_host={{ controller_int_ip }}
glance_port=9292

# DATABASE
[database]
connection=mysql+pymysql://cinder:{{ mariadb_cinder_password }}@{{ controller_int_ip }}/cinder

# AUTHENTICATION
[keystone_authtoken]
auth_uri = http://{{ controller_int_ip }}:5000
auth_url = http://{{ controller_int_ip }}:35357
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{ cinder_keystone_password }}

[oslo_concurrency]
lock_path = $state_path/tmp

# RABBITMQ
[oslo_messaging_rabbit]
rabbit_host={{ controller_int_ip }}
rabbit_port = 5672
rabbit_userid={{ cinder_mq_user }}
rabbit_password={{ cinder_mq_password }}
rabbit_virtual_host=/cinder

# ISCSI
[lvm]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
volume_group = {{ cinder_vg_name }}
iscsi_protocol = iscsi
iscsi_helper = tgtadm
#iscsi_ip_address = {{ cinder_storage_node_ip }}
#volumes_dir = $state_path/volumes

